@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body{
      font-family: "Roboto", sans-serif;
}

.nav-img{
    width: 60%;
    height: 5%;
}

.nav-li{
    color: rgba(47, 152, 194, 1);
}

.nav{
    background-color: rgba(255, 255, 255, 1);
      font-weight: 700;
      font-style: bold;
}

.nav-li-2{
    color: rgba(197, 34, 31, 1);
}

main{

}

form h4{
    font-weight: 600;
  
}

.img-div img{
    width: 100%;
}

.appointment-form{
padding-bottom: 3rem;

    justify-content: space-between;
}

main{
    background-color: rgba(222, 241, 249, 1);
}

.img-div{
width: 100%;

}

.form-div{
width: 100%;
background-color: white;
}

.input{
width:100%;
border-radius: 30px;
padding: 1rem;
margin: 0 auto;
border: 1px solid rgba(30, 54, 115, 1);
}

.input-div{
    margin: 0 auto;
    width:90%;

}

main button{
    background-color: rgba(47, 152, 194, 1);
    color: rgba(255, 255, 255, 1);
width: 40%;
    border-radius: 30px;
    padding: 1rem;
    border: none;
}

.main-button{
        display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    background-color: rgba(30, 54, 115, 1);
}
.footer-p{
    width: 70%;
}
footer p,h5{
    color: rgba(255, 255, 255, 1);
}

footer h5{
font-weight: 600;
}
@media(max-width:768px){
    .nav-li{
        padding-top: 1.5rem;
       
    }
.appointment-form{
    display: flex;
    flex-direction: column;
}

main img{
    display: none;
}
    nav ul{
        gap: 0;
    }

    .main-button{
        padding-bottom: 2rem;
    }

    .footer-div{
        display: none;
    }

    .footer-div-1 p{
width: 100%;
    }


    .footer-div-1{

    }

}